.card {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.logo {
  max-width: 60px;
}
.profile-pic {
}
.text-primary {
  color: #002147 !important;
}
.contact-info i {
  color: #002147;
}
